checkpoints
data
.idea
pretrained
compute_features.py 
save_features.py
results
logs
scripts/cityscapesDomain/reminder_11-5.sh
__pycache__
*rkd*.sh
scripts/voc/rkd_save_features_15-5.sh
scripts/voc/rkd_valid_15-1.sh
scripts/voc/rkd_valid_15-5.sh
scripts/voc/plop_save_features_15-5.sh
scripts/voc/ft_save_features_15-5.sh
scripts/voc/plop_valid_15-1.sh